@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;700&display=swap');

/*הגדרת עמוד*/

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px 
*/@media screen and (min-width: 601px) {
    body {
        font-size: 1em;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }
    #LoginSign h1 {
        font-size: 20px !important;
    }
    .mud-input {
        height: 80%;
        width: 80%;
    }
}


html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, Arial, sans-serif;
    font-family: 'Assistant', sans-serif;
    background-image: url('../Images/Picture2.png');
    background-repeat: space;
    background-size: 100%;
    background-position-y: center;
    background-size: cover;
}


.mud-main-content {
    padding-top: unset;
}

/*תפריט ניווט*/

header {
    background-image: url('../photo/wood.png');
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
}

/*לוגו*/
#logo {
    width: 80px;
    height: 50px;
    padding: 5px 15px;
    direction: rtl;
    z-index: 2;
}

/* כותרת הלוגו*/
header > a > p {
    font-family: 'Assistant', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    position: relative;
    top: -17px;
    color: white;
    display: inline-block;
    direction: rtl;
}

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: rgb(30, 104, 177);
                color: white;
                text-align: center;
                padding: 27px 20px 0px 20px;
                font-size: 14pt;
                font-weight: 500;
                font-family: 'Assistant', sans-serif;
                direction: rtl;
                text-decoration: none;
            }

                nav ul li a:hover {
                    font-weight: 700;
                    cursor: pointer;
                    font-family: 'Assistant', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }


.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameArea {
    margin-top: 10%;
}

#LoginSign {
    background-image: url('../Images/sign.png');
    height: 110px;
    width: 33%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    text-align: center;
}

    #LoginSign h1 {
        font-size: 45px;
        display: inline-block;
        vertical-align: middle;
        color: #5A3114;
    }



#MailArea {
    background-image: url('../Images/border.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%;
    background-position-y: top;
}

    #MailArea h3 {
        color: #5A3114;
        text-align: center;
    }

/*תיבת טקסט להכנסת המייל*/
.MailText {
    margin: 0;
    box-sizing: border-box;
    margin-right: 40%;
    width: 250px;
    height: 300px;
    text-align: center;
}
/*תיבת הטקסט של עמוד הכניסה*/
.mud-input.mud-input-outlined .mud-input-outlined-border {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: start;
    pointer-events: none;
    border-radius: var(--mud-default-borderradius);
    border-color: var(--mud-palette-lines-inputs);
    border-width: 1px;
    border-style: solid;
    transition: border-width,border-color 200ms cubic-bezier(.4,0,.2,1) 0ms;
    border-radius: 30px;
}

/*----עמוד 2-רשימת המשחקים----*/

/*שלט עמוד רשימת המשחקים*/
#GameSign {
    background-image: url(../Images/SignGame.png);
    height: 110px;
    width: 33%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    text-align: center;
    z-index: 8;
}

    /*כותרת שלט משחקים*/
    #GameSign h1 {
        display: inline-block;
        vertical-align: middle;
        color: #5A3114;
        background-color: white;
        text-align: center;
        margin-top: 46px;
        margin-right: 15px;
        font-size: 30px;
    }

/*טבלת המשחקים*/
#GameTable {
    margin-top: 13px;
    margin-left: 143px;
    margin-right: 10px;
}
    #GameTable p {
        margin-right: 2%;
    }
    /*אייקונים טבלת משחקים*/
    .mud-icon-root {
        fill: currentColor;
        color: #714727;
    }

/*כותרת טבלת המשחקים*/
.mud-table-sticky-header * .mud-table-root .mud-table-head * .mud-table-cell {
    /* background-color: var(--mud-palette-surface); */
    position: sticky;
    z-index: 2;
    top: 0;
}


/*מיקום הכותרות של טבלת המשחקים*/
.mud-table-cell {
    display: table-cell;
    padding: 16px;
    font-size: .875rem;
    /* text-align: start; */
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid var(--mud-palette-table-lines);
    letter-spacing: .01071em;
    vertical-align: inherit;
}



/*תמונת פופ-אפ יצירת משחק
*/ #CreatingGame {
    background-image: url(../Images/AddGame.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 10%;
}

/*תמונת פופ-אפ הגדרות משחק
*/ #PopUpSetting {
    background-image: url(../Images/PopUpSetting.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 10%;
}

#PopUpDelete {
    background-image: url(../Images/PopUpDelete.png);
    background-size: 17%;
    background-repeat: no-repeat;
    background-position-x: 18%;
    background-position-y: -8%;
}
/*כותרת פופ אפ */
.mud-typography-h6 {
    font-size: 30px;
    font-family: var(--mud-typography-h6-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-h6-lineheight);
    letter-spacing: var(--mud-typography-h6-letterspacing);
    font-family: 'Assistant';
    font-weight: bold;
    color: #5A3114;
}

/*פופ-אפ עמוד אודות*/
#PopUpOdot {
    background-position: center;
    background-size: 36%;
    background-repeat: no-repeat;
    background-image: url(../Images/compass.png);
}

    #PopUpOdot p {
        text-align: center;
        font-size: 18px;
        font-family: 'Assistant';
    }

    #PopUpOdot h1 {
        text-align:center;
        font-size: 40px;
        font-family: 'Assistant';
        margin-top: -35px;
        z-index:1;
    }

/*    פופ- אפ פירסום*/

/*#PopUpPublish {
    background-repeat: no-repeat;
    background-image: url(../Images/PublishIcon.png);
    background-size: 20%;
    background-position-x: 130px;
    background-position-y: -13px;
}

#PopUpPublishGame p {
    text-align: center;
    font-size: 18px;
    font-family: 'Assistant';
}*/

.mud-button-root {
    z-index: 2;
}

#PopUpHowToPlay {
    background-position: center;
    background-size: 36%;
    background-repeat: no-repeat;
    background-image: url(../Images/compass.png);
    height:260px;
}

    #PopUpHowToPlay p {
        text-align: center;
        font-size: 18px;
        font-family: 'Assistant';
    }

    #PopUpHowToPlay h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'Assistant';
        margin-top: -35px;
        z-index: 1;
    }


/*----עריכת שאלות----*/


.tableofQ {
    margin-top: 7%;
    width: 35%;
    z-index: 3;
    top: 10px;
    position: absolute;
    margin-right: 60%;
}

.mud-table-toolbar {
    padding-left: 16px;
    padding-right: 8px;
    padding-inline-start: 16px;
    padding-inline-end: 8px;
    justify-content: center;
    background-color: #DBCBAA;
}

.BtnPublish {
    text-align: center;
}

#ImgWoodEditGame {
    background-image: url(../Images/SignEditGame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: 16%;
}

#ContentQuestion {
    padding: 10px;
}

.imgUploadBtn {
    inline-size: auto;
    margin-right: 91%;
    z-index: 2;
    margin-top: -35%;
}

.TextImfI {
    z-index: 3;
    margin-right: -173%;
    margin-top: 190%;
}

#Distracting {
    padding: 1%;
    padding-top: 2%;
}
/*--------------*/
a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #602c12;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

p.mypClass {
}

.positioned {
    position: relative;
    top: 100px;
    left: 100px;
}



.distractor-0 {
    margin-left: 53%;
}

.distractor-1 {
    margin-right: 50%;
    margin-top: -28%;
}


.distractor-2 {
    margin-left: 53%;
    margin-top: 17%;
}
.distractor-3 {
    margin-right: 50%;
    margin-top: -26%;
}

.distractor-4 {
    margin-right: 50%;
    margin-top: 5%;
}

.mud-input.mud-input-outlined {
    position: relative;
    border-width: 0;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #714727;
}

