@using TreasureIsland_Dolev_May_Coral.Shared.Entities
@inject HttpClient Http


<div id="PopUpDelete">

    <MudDialog Style=" background-color: #DBCBAA;">
        <DialogContent>
            <MudItem Style="width: 60%; height:40%; margin-right: -1%;">

                <MudText>
                    שימו לב - במידה ובמאגר השאלות יש פחות מ - 10
                    <br />
                    שאלות לא ניתן יהיה לפרסם את המשחק.
                </MudText>
                <MudText>
                    האם  למחוק את השאלה "<b>@QuestionString</b>..."?
                </MudText>
            </MudItem>

        </DialogContent>
        <DialogActions>
            <MudButton Style="background-color: saddlebrown; color: azure;  border-radius: 20px;" @onclick="OkFunc" Color="Color.Primary" Variant="Variant.Filled">מחיקה</MudButton>
            <MudButton  Style="margin-left: 55%; border-color: #714727; border-width: 0.5px; border-style: solid; border-radius: 17px; "OnClick="Cancel">חזרה לעריכת המשחק</MudButton>
        </DialogActions>
    </MudDialog>
</div>

@code {

    [Parameter]
    public Question QtoDialog { get; set; } //נשלח מהדף את השאלה

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    string QuestionString = "";

    protected override void OnInitialized()
    {
        QuestionString = QtoDialog.QuestionTitle; // הכנסת תוכן השאלה אל המשתנה בעמוד הזה
        if (QuestionString.Length > 10)
        {
            QuestionString = QuestionString.Substring(0, 10);
        }
    }

    private void Cancel()
    {
        QuestionString = "";
        MudDialog.Cancel();
    }

    private void OkFunc()
    {
        QuestionString = "";
        MudDialog.Close(DialogResult.Ok(true));
    }

}
