@using TreasureIsland_Dolev_May_Coral.Shared.Entities
@inject HttpClient Http



<div id="PopUpDelete">
    <MudDialog Style=" background-color: #DBCBAA;">
        <DialogContent>
            <MudItem Style="width: 60%; height:40%; margin-right: -1%;">
                <MudText>
                    <br />

                    האם ברצונך למחוק את השאלה?
                    <br />
                    פעולה זו אינה ניתנת לשחזור.
                </MudText>
            </MudItem>
        </DialogContent>

        <DialogActions>
            <MudButton Style="background-color:saddlebrown; color:azure; border-radius:20px;" @onclick="OkFunc" Color="Color.Primary" Variant="Variant.Filled">מחיקה</MudButton>
            <MudButton Style="margin-left: 60%; border-color: #714727; border-width: 0.5px; border-style: solid; border-radius: 10px " OnClick="Cancel">ביטול הפעולה</MudButton>
        </DialogActions>
    </MudDialog>
</div>
    @code {

        string Qcontent = "";
        Question QtoDialog = new Question();

        [CascadingParameter] MudDialogInstance MudDialog { get; set; }

        protected override void OnInitialized()
        {

            Qcontent = QtoDialog.QuestionTitle;
           
        }

        private void Cancel()
        {
            MudDialog.Cancel();
            Qcontent = "";
        }

        private void OkFunc()
        {
            Qcontent = "";
            MudDialog.Close(DialogResult.Ok(true));
        }

    }
