@using TreasureIsland_Dolev_May_Coral.Shared.Entities
@inject HttpClient Http

    <div id="PopUpPublish" style="
    FONT-FAMILY: 'Assistant';
    FONT-SIZE: 18PX;
    ALIGN-ITEMS: center;
    background-repeat: no-repeat;
    background-image: url(../Images/PublishIcon.png);
    background-size: 16%;
    background-position-x: 130px;
    background-position-y: -4px;
">
        <MudDialog Style="background-color: #DBCBAA; margin-right: -1%">
            <DialogContent>
                    @if (GameFromPage.IsPublish == false)
                    {
                <MudText>
                    <br />
                    המשחק "@gameCurrentName" פורסם בהצלחה.
                    <br />
                    הקוד למשחק הוא: @GameCode
                    <br />
                </MudText>
                    }
                    else
                    {
                        <MudText>
                            המשחק "@gameCurrentName" אינו מפורסם כעת
                       <br/> 
                        </MudText>
                    }
               
            </DialogContent>
          
            <DialogActions>
                <MudButton Class="DeleteQBTN" @onclick="OkFunc"  Variant="Variant.Filled">אישור </MudButton>
                <MudButton Style="margin-left: 60%; border-color: #714727; border-width: 0.5px; border-style: solid; border-radius: 17px " OnClick="Cancel">ביטול הפעולה</MudButton>
            </DialogActions>
        </MudDialog>
    </div>

    @code {



        [Parameter]
        public int userId { get; set; }

        [Parameter]
        public Game GameFromPage { get; set; } // פרמטר שמתקבל מהדף


        //יצירת מופע חדש של משחק
        Game UpdatedGame = new Game(); //מופע מקומי של המשחק

        string gameCurrentName = "";

        string GameCode = "";

        [CascadingParameter] MudDialogInstance MudDialog { get; set; }

        protected override void OnInitialized()
        {

            gameCurrentName = GameFromPage.GameName;
            GameCode = GameFromPage.GameCode.ToString(); ;
            Console.WriteLine("gameCurrentName : " + gameCurrentName);
            Console.WriteLine("GameCode : " + GameCode);
        }

        private void Cancel()
        {
            if (GameFromPage.IsPublish == false)
            {
                GameFromPage.IsPublish = true;
            }
            else
            {
                GameFromPage.IsPublish = false;
            }
            MudDialog.Cancel();

        }

        private void OkFunc()
        {

            MudDialog.Close(DialogResult.Ok(true));

        }

    }
