@inject HttpClient Http
@inject NavigationManager nav

<div id="PopUpHowToPlay">

    <MudDialog Style=" background-color: #DBCBAA;">
        <DialogContent>


            <h1>איך משחקים?</h1>
            <br />
            <p>
                עליכם למצוא את האוצר באמצעות מענה על השאלות.
                <br />
                בכל שאלה עליכם לבחור
            </p>
            <img id="Treasure" src="./Images/Treasure.png" style="WIDTH: 8%;margin-right: 66%;margin-top: -31px;" />
            <p style=" z-index: 2; margin-top: -24px;"> בעלת התשובה הנכונה.</p>
            <br />
            <p>
                בכדי לבדוק אם תשובתכם נכונה עליכם ללחוץ
                <br />
                על כפתור .
                <br />
            </p>
            <img id="ButtonC" src="./Images/ButtonC.png" style="width: 20%; margin-right: 55%; margin-top: -5%; "/>
        </DialogContent>

    </MudDialog>
</div>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();


}
