@inject HttpClient Http
@inject NavigationManager nav

<div id="PopUpOdot">
    <MudDialog Style=" background-color: #DBCBAA;">
        <DialogContent>

            <h1>אודות</h1>
            <br />
            <p>
                אפיון ופיתוח: דולב קליינר, מאי לוי וקורל ששון
                <br />
                אופיין ופותח במסגרת פרויקט בקורסים:
                <br />
                סביבות לימוד אינטראקטיביות
                <br />
                תכנות אינטרקציה ואנימציה
                <br />
                תכנות
                <br />
                תשפ"ב
            </p>
            <img id="HIT" src="../photo/HIT.png" style=" WIDTH: 20%; margin-right: 39%;" />
            <br />
            <p>
            <a href="https://www.hit.ac.il/telem/overview" target="_blank">הפקולטה לטכנולוגיות למידה </a> <br />
            </p>

        </DialogContent>

    </MudDialog>
</div>
@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();


}
